.contact-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact-button {
  margin-top: 50px;
}


.contact {
  padding: 0.5em;
  text-align: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  min-height: 100px;
  min-width: 100px;
  cursor: pointer;
  margin-top: 10px;
}

.contact>a>img {
  width: 60px;
  height: 60px;
}

.contact>a {
  margin: auto;
}

.contact:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

.ct-discord {
  background: linear-gradient(135deg, #81fbb8 0%, #28c76f 100%);
  box-shadow: 5px 5px #28c76fbd;
}

.ct-outlook {
  background: linear-gradient(135deg, #ffe985 0%, #fa742a 100%);
  box-shadow: 5px 5px #fa742abd;
}

.ct-github {
  background: linear-gradient(135deg, #5efce7 0%, #736efe 100%);
  box-shadow: 5px 5px #736efebd;
}