/* - - - - - |            COLORS DEF.            | - - - - - */

:root {
  --blue-0: #5d6dcf;
  --white-1: #fdfcfa;
  --orange-1: #fc9224;
  --blue-1: #3133b8;
  --blue-2: #202166;
}

/* - - - - - |            POLICES IMPORT            | - - - - - */

@font-face {
  font-family: "Roboto-Bold";
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold-Italic";
  src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Italic";
  src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;

}

@font-face {
  font-family: "Roboto-Ligth";
  src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Ligth-Italic";
  src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}



/* - - - - - |            STYLE DEF.            | - - - - - */

/* GENERAL */

html {
  background-color: var(--blue-2);
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fdfcfa;
  font-family: 'Roboto-Regular';
}

main {
  margin-right: 375px;
  padding: 25px;
}

hr {
  opacity: 0.5;
}

#presentation {
  visibility: hidden;
}

h1 {
  font-family: 'Roboto-Bold';
  font-size: 4em;
}

h2 {
  font-family: 'Roboto-Bold';
  font-size: 2.75em;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto-Regular';
  font-size: 2.5em;
  margin-top: 35px;
}

h3>a {
  color: var(--orange-1);
}

h4 {
  font-family: 'Roboto-Regular';
  font-size: 2.25em;
}

p {
  font-size: 2em;
}

.part {
  height: 70%;
  margin-top: 10vh;
  margin-bottom: 15vh;
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.contenu {
  width: 100%;
}

#link {
  position: absolute;
  left: -9999%;
}

#copy {
  font-size: 1em;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin: auto;
}

footer {
  width: calc(100%-375px);
  text-align: center;
  align-items: center;
  background-color: var(--blue-1);
  margin-right: 350px;
  padding: 0.5em;
}

/* Responsive */

@media (max-width: 1320px) {

  main {
    margin: 15px;
  }

  footer {
    width: 100%;
  }
  
}