/* BARRE DE NAVIGATION */

header .barre-navigation .navigation {
  position: fixed;
  display: block;
  background: var(--blue-1);
  min-width: 350px;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 100px 25px;
  transition: 0.5s;
  transition-property: right, visibility;
  text-align: center;
  z-index: 998;
}

.barre-navigation {
  position: relative;
  line-height: 75px;
}

.barre-navigation .navigation {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
  margin: auto;
}

.logo>img {
  border-radius: 50%;
  border: solid 5px #fc9224;
}

.item-nav>a {
  color: var(--white-1);
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Roboto-Bold';
  font-variant-caps: all-small-caps;
  margin: 30px;
  border-bottom: 1px var(--orange-1);
}

.item-nav>a:hover {
  color: var(--orange-1);
  border-bottom: solid 1px var(--orange-1);
  transition: 0.5s;
}

.reseaux {
  display: flex;
  width: 80%;
  padding-top: 15px;
  height: 75px;
  justify-content: space-around;
  margin: auto;
}

.reseaux img {
  filter: invert(1);
  vertical-align: middle;
  margin: auto;
  width: 40px;
}

.scroll {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 0%;
  height: 8px;
  background-color: var(--orange-1);
  transition: width 0.3s ease-in-out;
  z-index: 999;
}

/* Responsive */

@media (max-width: 1320px) {

  header .barre-navigation .navigation {
    position: fixed;
    display: block;
    height: 100vh;
    right: -125%;
    overflow-y: auto;
    transition: 0.5s;
    transition-property: right, visibility;
  }

  header .barre-navigation .navigation.active {
    right: 0;
  }

  .close {
    position: absolute;
    background: url(../img/croix.png) no-repeat;
    filter: invert(100%);
    width: 50px;
    height: 50px;
    background-size: 35px;
    background-position: center;
    left: 0;
    top: 0;
    margin: 38px;
    cursor: pointer;
    border-radius: 15px;
  }

  .open {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    min-height: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 15px;
    z-index: 997;
    overflow: hidden;
    background-color: var(--blue-1);
  }
  
  .open::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/menu.png) no-repeat;
    filter: invert(100%);
    background-size: 35px;
    background-position: center;
  }

  header {
    padding: 15px 20px;
  }

}