/* - - - - - |            COLORS DEF.            | - - - - - */

:root {
    --blue-0 : #5d6dcf;
    --white-1 : #fdfcfa;
    --orange-1 : #fc9224;
    --blue-1 : #3133b8;
    --blue-2 : #202166;
}

/* - - - - - |            POLICES IMPORT            | - - - - - */

@font-face {
    font-family: "Roboto-Bold";
    src: url('./fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight : 700;
    font-style: normal;
 }

@font-face {
    font-family: "Roboto-Bold-Italic";
    src: url('./fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight : 700;
    font-style: italic;
 }

@font-face {
    font-family: "Roboto-Regular";
    src: url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
 }

@font-face {
    font-family: "Roboto-Italic";
    src: url('./fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    
 }

@font-face {
    font-family: "Roboto-Ligth";
    src: url('./fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
 }

@font-face {
    font-family: "Roboto-Ligth-Italic";
    src: url('./fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
 }



/* - - - - - |            STYLE DEF.            | - - - - - */

/* GENERAL */

 html {
    background-color: var(--blue-2);
    scroll-behavior: smooth;
 }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fdfcfa;
  font-family: 'Roboto-Regular';
 }

 main {
  margin-right:375px ;
  padding: 25px;
}

/* BARRE DE NAVIGATION */

 header .barre-navigation .navigation {
  position: fixed;
  display: block;
  background: var(--blue-1);
  min-width: 350px;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 150px 25px;
  transition: 0.5s;
  transition-property: right, visibility;
  text-align: center;
  z-index: 998;
}

.barre-navigation {
  position: relative;
  line-height: 75px;
}

.barre-navigation .navigation{
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
  margin: auto;
}

.logo > img {
  border-radius: 50%;
  border: solid 5px #fc9224;
}

.item-nav > a {
  color: var(--white-1);
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Roboto-Bold';
  font-variant-caps: all-small-caps;
  margin: 30px;
  border-bottom: 1px var(--orange-1);
}

.item-nav > a:hover  {
  color: var(--orange-1);
  border-bottom: solid 1px var(--orange-1);
  transition: 0.5s;
}

.scroll{
  position: fixed;
  top:0px;
  left: 0;
  right: 0;
  width: 0%;
  height: 8px;
  background-color: var(--orange-1);
  transition: width 0.3s ease-in-out;
  z-index: 999;
}

/* CARROUSEL */


.carrousel {
  display:flex;
  justify-content: space-around;
  margin-left: 1%;
  margin-right: 1%;
  min-height: 600px;
  height: 100%;
}

 .carrousel > div{
  margin: auto;
}

[data-carrousel] {
  position: relative;
  max-width: 960px;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  max-height: 540px;
  height: 56%;
}

[data-carrousel] > div {
  position: absolute;
  inset: 0;
  opacity: 0;
  object-fit: contain;
}

[data-carrousel] > div.shown {
 opacity: 1;
 z-index: 1;
}

[data-carrousel] > div.before {
 opacity: 0.25;
 transform : translate(-200px);
 z-index: 0;
 zoom: 90%;
 max-width: 960px;
}

[data-carrousel] > div.after {
 opacity: 0.25;
 transform : translate(200px);
 z-index: 0;
 zoom: 90%;
 max-width: 960px;
}

.arrow-left {
  cursor: pointer;
  width: 0;
  height: 0;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  border-right: 20px solid #f7af3e;
  padding: 0;
  z-index: 4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.arrow-right {
  cursor: pointer;
  width: 0;
  height: 0;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  border-left: 20px solid #f7af3e;
  z-index: 4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

.video-presentation {
  margin: auto;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  bottom: 0;
}

.video-presentation > video {
  border-radius: 15px;
  bottom: 0;
}

.video-description {

    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    text-align: center;
}

.disponible {
  background-color: rgba(49,51,184,1);
}

.indisponible {
  background-color: rgba(252,146,36,1);
}

.projet.shown:hover .video-description{
  opacity: 0.25;
  transition: 1s;
}

.projet {
  height: 100%;
  position: relative;
  margin: auto;
  margin-top: 25%;
}

.liens {
  margin-top: 5px;
}

.legend-carrousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-legend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  font-size: 25px;
}
    
.square-carrousel-disponible {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(255, 255, 255);
  background-color: var(--blue-1);
}

.square-carrousel-indisponible {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(255, 255, 255);
  background-color: var(--orange-1);
}
    
.legend-square {
  margin-left: 10px;
}

/* POLICES - IMAGES */

 hr {
  opacity: 0.5;
 }

 .part {
  height: 70%;
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  align-items: center;
  min-height: 70vh;
 }

 .contenu {
  width: 100%;
 }

 #presentation {
  visibility: hidden;
 }

 h1 {
    font-family: 'Roboto-Bold';
    font-size: 4em;
 }

 h2 {
    font-family: 'Roboto-Bold';
    font-size: 2.75em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
 }

 h3 {
   font-family: 'Roboto-Regular';
   font-size: 2.5em;
   margin-top: 35px;
 }

 h3 > a {
   color: var(--orange-1);
 }

 h4 {
  font-family: 'Roboto-Regular';
  font-size: 2.25em;
 }


 .missions > li {
  font-family: 'Roboto-Regular';
  font-size: 1.25em;
  line-height: 150%;
  margin-left: 50px;
 }

 #cv {
  max-width: 600px;
  border-radius: 10px;
  width: 90%;
 }

 .download{
  padding: 0.5em;
  font-weight: bold;
  text-align:center;
  font-size: 1em;
  border-radius:15px;
  height: 40px;
  width: 90%;
  max-width: 600px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.download > a > img {
  width: 15px;
  height: 15px;
}

.download > a{
  margin: auto;
  text-decoration: none;
}


 p, .interets {
  font-family: 'Roboto-Ligth';
  font-size: 2em;
 }

 li {
  margin-top: 5px;
  margin-bottom: 5px;
 }

  .interets {
    list-style: none;
    line-height: 50px;
  }

  .space {
    margin-left: 5px;
    margin-right: 10px;
  }

  .partager > .box-partager > .box, .contact-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact-button {
    margin-top: 50px;
  }

  .partager {
    width: 400px;
    position: fixed;
    left: -500px;
    top : 25px;
    min-height: 150px;
    align-items: center;
    display: flex;
    z-index: 997;
    transition: 0.5s;
    transition-property: left, visibility;
  }

  .partager.actif {
    left: -15px;
  }

  .box-partage-ouvrir {
    position: fixed;
    left: 0;
    top : 45px;
    z-index: 996;
    background-color: var(--blue-1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .box-partage-fermer {
    background-color: var(--blue-1);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
    cursor: var(--blue-0);
  }

  .box-partager {
    background-color: var(--blue-1);
    border-radius: 15px;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
  }

  .open-partage {
    transform: rotate(-90deg);
    font-size: 1.5em;
    cursor: pointer;
  }

  .box-partage {
    padding: 0.5em;
    font-size:.75em;
    text-align:center;
    border-radius:20px;
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    cursor: pointer;
    margin-top: 10px;
  }

  .box-partage > img {
    width: 50px;
    height: 50px;
  }

  .box-partage > p {
    margin: auto;
    margin-top: 5px;
    font-family: 'Roboto-Bold';
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  }

  .box-partage:active {
    transform: translate(5px, 5px);
    box-shadow: none;    
  }

  .box-qrcode {    
    background: linear-gradient(to bottom right, #d8df16,#f38730);
    box-shadow: 5px 5px #f38730;
  }

  .box-lien {
    background: linear-gradient(to bottom right,#ff9851, #ff6b52);
    box-shadow: 5px 5px #ff6b52;
  }

  .contact{
    padding: 0.5em;
    text-align:center;
    border-radius:50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 100px;
    min-width: 100px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .contact > a > img {
    width: 60px;
    height: 60px;
  }
  
  .contact > a{
    margin: auto;
  }

  .contact:active {
    transform: translate(5px, 5px);
    box-shadow: none;
  }

  .mb-jade {
    background: linear-gradient(to bottom right,#184e68, #57ca85);
    box-shadow: 5px 5px #57ca85;
  }

  .mb-grissard {
    background: linear-gradient(to bottom right,#E3E3E3, #5D6874);
    box-shadow: 5px 5px #5D6874;
  }

  .mb-couchant {
    background: linear-gradient(to bottom right,#846ef4, #f17574);
    box-shadow: 5px 5px #f17574;
  }

  .mb-verteau {
    background: linear-gradient(to bottom right,#c3ec52, #0ba29d);
    box-shadow: 5px 5px #0ba29d;
  }

  .mb-sombre {
    background: linear-gradient(to bottom right,#5e2563, #65789b);
    box-shadow: 5px 5px #65789b;
  }

  .mb-pamplemousse {
    background: linear-gradient(to bottom right,#ff9851, #ff6b52);
    box-shadow: 5px 5px #ff6b52;
  }

  .ct-discord {
    background:linear-gradient(135deg, #81fbb8 0%,#28c76f 100%);
    box-shadow: 5px 5px #28c76fbd;
  }

  .ct-outlook {
    background:linear-gradient(135deg, #ffe985 0%,#fa742a 100%);
    box-shadow: 5px 5px #fa742abd;
  }

  .ct-github {
    background:linear-gradient(135deg, #5efce7 0%,#736efe 100%);
    box-shadow: 5px 5px #736efebd;
  }

  .ct-dowload {
    background:linear-gradient(135deg, #4ecdc4 0%,#556270 100%);
    box-shadow: 5px 5px #556270;
  }

  .frise {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .frise > div {
    width: 40vh;
    margin-top: 20px;
  }

  .date > h6 {
    font-size: 2em;
    text-align: center;
  }

  .ecole {
    margin-top: 25px;
    background:linear-gradient(135deg, #13f1fc 0%,#0470dc 100%);
    height: 550px;
    border-radius: 15px;
    min-width: 300px;
  }


  .lg-ecole {
    width: 100%;
    display: flex;
    min-height: 200px;
  }

  .lg-ecole > img {
    width: 250px;
    margin: auto;
  }

  .ecole > a > h6 {
    font-size: 2em;
    text-align: center;
  }

  .ecole > p {
    margin: 0;
    text-align: center;
  }

  .badge {
    background-color: var(--orange-1);
    width: 80%;
    margin: auto;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }

  .badge > p {
    font-size: 1.5em;
    text-align: center;
    margin: 0%;
  }

  .bd-green {
    background:linear-gradient(135deg, #40a848 0%,#4f7e1c 100%);
  }

  .bd-red {
    background:linear-gradient(135deg, #c03f4c 0%,#d52739 100%);
  }

  .bd-orange {
    background:linear-gradient(135deg, #e27f46 0%,#bd4f1c 100%);
  }

  .bd-blue {
    background:linear-gradient(135deg, #437ac2 0%,#0a58be 100%);
  }

  .multibox {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 875px;
  }

  .carte {
    display: flex;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    flex: 1;
    transition: 0.5s all ease;
    font-family: 'Roboto-Ligth';
    font-size: 2em;
    align-items: center;
  }

.emoji {
  margin: auto;
  font-size: 3em;
  text-align: center;
  width: 50%;
}

.emoji-legende {
  text-align: center;
  display: none;
  margin-right: 20px;
  font-weight: bold;
}

  .carte:hover {
    flex:2;
  }

  .carte:hover > .emoji-legende {
    display: block;
  }

  .partage {
    margin: auto;
    width: 40%;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 50px;
    border: solid 3px #0470dc;
    padding: 25px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
  }

  .partage > .italique {
    font-size: 1em;
    font-style: italic;
  }

  #link {
    position: absolute;
    left: -9999%;
  }

  #copy {
    font-size: 1em;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor:pointer;
    margin: auto;
  }

  .space {
    margin-left: 5%;
    margin-right: 5%;
  }

  footer {
    width: calc(100%-375px);
    text-align: center;
    align-items: center;
    background-color: var(--blue-1);
    margin-right:350px ;
    padding: 0.5em;
  }
  
  /* Responsive */

  @media (max-width: 1320px) {

    .partage {
      width: 100%;
      font-size: 1em;
    }
  
    .partage > .italique {
      font-size: 0.75em;
      font-style: italic;
    }
  
    
    main {
      margin: 15px;
    }

    footer {
      width: 100%;
    }

    [data-carrousel] > div.before {
      opacity: 0.25;
      transform : translate(-20px);
      z-index: 0;
      zoom: 90%;
      max-width: 960px;
     }
     
     [data-carrousel] > div.after {
      opacity: 0.25;
      transform : translate(20px);
      z-index: 0;
      zoom: 90%;
      max-width: 960px;
     }

    
      header .barre-navigation .navigation {
        position: fixed;
        display: block;
        height: 100vh;
        right: -125%;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
      }
 
    header .barre-navigation .navigation.active {
        right: 0;
     }
 
    .close {
       position: absolute;
       background: url(./img/croix.png) no-repeat;
       width: 50px;
       height: 50px;
       background-size: 35px;
       background-position: center;
       left: 0;
       top:0;
       margin: 38px;
       cursor: pointer;
       border-radius: 15px;
    }
 
    .open{
       background: url(./img/menu.png) no-repeat;
       width: 50px;
       height: 50px;
       min-height: 50px;
       background-size: 35px;
       background-position: center;
       top:0;
       right: 0;
       background-color: var(--blue-1);
       margin: 20px;
       cursor: pointer;
       display: block;
       position: fixed;
      border-radius: 15px;
      z-index: 997;
    }
 
    header{
       padding: 15px 20px;
    }

    .multibox {
      flex-direction: column;
      width: 100%;
      min-width: 280px;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .carte {
      justify-content: space-evenly;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px;
      font-size: 1.5em;
      margin-left: 0px;
      margin-right: 0px;
    }

    .emoji {
      width: auto;
      margin: 0;
    }

    .emoji-legende {
      text-align: center;
      display: block;
      margin-right: 20px;
      font-weight: bold;
    }

    .legend-carrousel {
      display: flex;
      flex-wrap: wrap;
    }

    .container-legend {
      margin-top: 10px;
      font-size: 20px;
    }
 }